Makefile
cmake-build-*
*.csv
*.o
*.swo
*.swp
.vscode
.idea/
callgrind.out.*

build/*
!build/catch
!build/CLI11

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
